.prueba{
    border: 1px solid red;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar{
        width: 3px;
        height: 3px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 3px;
        background: #e3e3e3;
    }
    ::-webkit-scrollbar-thumb{
        background: #bbbbbb;
        border-radius: 3px;
        transition: .3s ease all;
        &:hover{
            background: #ababab;
            cursor: pointer;
        }
    }
}